<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Vitrine de Bairro</span>
        <img class="h-8 w-full" src="http://127.0.0.1:5000/logo.png" alt="">
      </a>
      <span class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 font-semibold text-2xl">
        Vitrine de Bairro</span>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" 
      routerLink="/"
      routerLinkActive="!text-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-sm/6 font-semibold text-gray-900 text-xl"
      >Produtos</a>
      <a 
      href="#" class="text-sm/6 font-semibold text-gray-900 text-xl" 
      routerLink="/cart"
      routerLinkActive="!text-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      >Carrinho</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div>
        <button class="relative">
          <a 
          href="#" class="text-sm/6 font-semibold text-gray-900" 
          routerLink="/cart"
          routerLinkActive="!text-gray-900"
          [routerLinkActiveOptions]="{ exact: true }"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
          </svg>
  
          @if (cartState.count() > 0) {
            <span
              class="absolute bg-blue-500 text-white size-6 rounded-full flex items-center justify-center -right-2"
              >{{ cartState.count() }}</span
            >
          }
        </a>
        </button>
      </div>
    </div>
  </nav>
</header>